* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
:root {
  /* color */
  --bg-color: #0f0f10;
  --card-bg: #1c1c1f;
  --text-color: #ededed;
  --text-secondary: #a0a0a5;
  --border-color: #2e2e33;
  --delete-color: #e05252;
  --accent-color: #6c5ce7;

  /* Padding scale */
  --nav-padding: 15px 30px;
  --section-padding: 15px 30px;
  --padding-xs: 4px;
  --padding-sm: 8px;
  --padding-md: 16px;
  --padding-lg: 24px;
  --padding-xl: 32px;
  --padding-2xl: 48px;
  --padding-3xl: 64px;

  /* Border-radius scale */
  --radius-xs: 4px;
  --radius-sm: 6px;
  --radius-md: 10px;
  --radius-lg: 16px;
  --radius-xl: 24px;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--nav-padding);
  position: sticky;
  top:0;
  background: #0f0f1047;
  backdrop-filter: blur(5px);
}
nav button {
  background-color: var(--border-color);
  border: none;
  color: var(--text-color);
  padding: var(--padding-sm) var(--padding-md);
  border-radius: var(--radius-xs);
  cursor: pointer;
}
section {
  padding: var(--section-padding);
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  gap: var(--padding-lg);
}
section .task-column {
  background: var(--card-bg);
  flex-grow: 1;
  width: 100%;
  /* overflow-wrap: anywhere; */
  word-break: break-all;
  border-radius: var(--radius-md);
  display: flex;
  flex-direction: column;
  gap: var(--padding-md);
  padding: var(--padding-md);
  transition: all 0.3s ease;
}
section .task-column .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .task-column .task {
  background-color: var(--border-color);
  padding: var(--padding-md);
  border-radius: var(--radius-md);
  display: flex;
  flex-direction: column;
  gap: var(--padding-sm);
  cursor: grab;
}
section .task-column.hover-over {
  border: 2px dashed var(--accent-color);
  scale: 1.02;
}
section .task-column .task button {
  align-self: flex-end;
  background-color: var(--delete-color);
  border: none;
  color: var(--text-color);
  padding: var(--padding-xs);
  border-radius: var(--radius-xs);
  cursor: pointer;
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.3s ease;
  visibility: hidden;
  opacity: 0;
}
.modal.active {
  /* display: flex; */
  opacity: 1;
  visibility: visible;
}
.modal .bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(250, 250, 250, 0.077);
  backdrop-filter: blur(3px);
  transition: all 0.3s ease;
}
.modal .center {
  background-color: var(--bg-color);
  width: 90%;
  max-width: 450px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: var(--padding-sm);
  z-index: 10;
  padding: var(--padding-md);
  border-radius: var(--radius-md);
  box-shadow:
    -10px 10px 10px var(--bg-color),
    inset 0 1px 1px rgba(255, 255, 255, 0.296),
    inset -1px 0 1px rgba(255, 255, 255, 0.296);
}
.modal .center input,
.modal .center textarea {
  background: var(--border-color);
  color: var(--text-secondary);
  border: none;
  padding: var(--padding-md);
  font-size: 1.2rem;
  border-radius: var(--radius-md);
  /* &::-webkit-scrollbar{display: none;} */
  box-shadow:
    inset 0 1px 1px rgba(255, 255, 255, 0.296),
    inset -1px 0 1px rgba(255, 255, 255, 0.296);
    transition: all 0.2s ease;
}
.modal .center input:focus,
.modal .center textarea:focus {
    outline: none;
    scale: 1.03;
}
/* :focus → element selected/focused hai, jaise input me cursor aa gaya.
:active → element abhi press ho raha hai. */
.modal .center .add-task-button {
  background: var(--accent-color);
  color: var(--bg-color);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.44);
  font-weight: 700;
  border: none;
  padding: var(--padding-sm);
  border-radius: var(--radius-sm);
  max-width: fit-content;
  align-self: center;
}
